LakeFS_Sample.json
{"flowContents":{"identifier":"a34843eb-7439-3d6e-9312-09044b18bbfb","instanceIdentifier":"0f513f22-0195-1000-cf8e-c1264030281e","name":"LakeFS_Sample","comments":"","position":{"x":-120.0,"y":-320.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a825f07d-e2a4-3d27-8293-19f28dd2ce25","instanceIdentifier":"0f62c949-0195-1000-8a6c-34d54237a23f","name":"MergeContent","comments":"","position":{"x":-176.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"c8842f71-f6fa-3050-903b-4cc290e618e3","instanceIdentifier":"04f82844-0fac-36b1-30ae-0c99ea5257dc","name":"GenerateFlowFile","comments":"","position":{"x":-176.0,"y":-568.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"#{content_prefix} ${now()}","Batch Size":"100","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"365 days","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"8d49cb31-bfdf-3fb1-8391-8cdeaa276f49","instanceIdentifier":"0f522e29-0195-1000-8416-47ad784ea1aa","name":"CreateBranchLakeFS","comments":"","position":{"x":-176.0,"y":96.0},"type":"com.nifi.processors.lakefs.branch.CreateBranchLakeFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-lakefs-processors-nar","version":"1.0.0"},"properties":{"hidden":"false","ignore-exists":"true","branch-name":"${branchName}","source":"main","repository":"#{repository}","lakefs-service":"2dc3240b-bfb8-3f30-b13f-8b9ed5c3aaf4","force-create":"false"},"propertyDescriptors":{"hidden":{"name":"hidden","displayName":"Hide branch?","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ignore-exists":{"name":"ignore-exists","displayName":"Ignore Branch exits exception?","identifiesControllerService":false,"sensitive":false,"dynamic":false},"branch-name":{"name":"branch-name","displayName":"Branch Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"source":{"name":"source","displayName":"Source Branch Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"repository":{"name":"repository","displayName":"Repository","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lakefs-service":{"name":"lakefs-service","displayName":"LakeFS Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"force-create":{"name":"force-create","displayName":"Overwrite if existing?","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#2c5035"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"a82cd6c7-0308-30df-8f51-24716ff2e3f5","instanceIdentifier":"0f5bb1c6-0195-1000-adb2-af1537e5a31c","name":"UpdateAttribute","comments":"","position":{"x":-176.0,"y":-120.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","branchName":"load-${now():format('yyyy-MM-dd-HH-mm-ss')}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"branchName":{"name":"branchName","displayName":"branchName","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"05c6cce3-1636-383c-98e1-a5874a99acea","instanceIdentifier":"8a6d1c5f-e95c-3f83-3e0e-68d023737355","name":"PutObjectLakeFS","comments":"","position":{"x":-176.0,"y":520.0},"type":"com.nifi.processors.lakefs.objects.PutObjectLakeFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-lakefs-processors-nar","version":"1.0.0"},"properties":{"path":"data/${uuid}","repository":"#{repository}","branch":"${branchName}","lakefs-service":"2dc3240b-bfb8-3f30-b13f-8b9ed5c3aaf4","force-create":"true"},"propertyDescriptors":{"path":{"name":"path","displayName":"Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"repository":{"name":"repository","displayName":"Repository","identifiesControllerService":false,"sensitive":false,"dynamic":false},"branch":{"name":"branch","displayName":"Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lakefs-service":{"name":"lakefs-service","displayName":"LakeFS Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"force-create":{"name":"force-create","displayName":"Overwrite if existing?","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"09c0e796-11a4-3e8f-b0aa-b0ffcf411056","instanceIdentifier":"0f6e1906-0195-1000-56b3-8d08fb2b69fb","name":"CommitLakeFS","comments":"","position":{"x":-176.0,"y":728.0},"type":"com.nifi.processors.lakefs.commit.CommitLakeFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-lakefs-processors-nar","version":"1.0.0"},"properties":{"prop1":"Hello Commit","force-commit":"false","branch-name":"${branchName}","commit-message":"#{commit_messsage}","source-metarange":null,"repository":"#{repository}","lakefs-service":"2dc3240b-bfb8-3f30-b13f-8b9ed5c3aaf4","allow-empty":"false"},"propertyDescriptors":{"prop1":{"name":"prop1","displayName":"prop1","identifiesControllerService":false,"sensitive":false,"dynamic":true},"force-commit":{"name":"force-commit","displayName":"Force Commit?","identifiesControllerService":false,"sensitive":false,"dynamic":false},"branch-name":{"name":"branch-name","displayName":"Branch Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"commit-message":{"name":"commit-message","displayName":"Commit Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"source-metarange":{"name":"source-metarange","displayName":"Source Metarange","identifiesControllerService":false,"sensitive":false,"dynamic":false},"repository":{"name":"repository","displayName":"Repository","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lakefs-service":{"name":"lakefs-service","displayName":"LakeFS Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"allow-empty":{"name":"allow-empty","displayName":"Allow Empty?","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#2c5035"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"6684f6ef-9d8a-3c7a-a329-afa5cb54535c","instanceIdentifier":"0f5d7aab-0195-1000-a45d-58efea9562b1","name":"FetchBranchLakeFS","comments":"","position":{"x":-176.0,"y":312.0},"type":"com.nifi.processors.lakefs.branch.FetchBranchLakeFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-lakefs-processors-nar","version":"1.0.0"},"properties":{"branch-name":"${branchName}","repository":"demo","lakefs-service":"2dc3240b-bfb8-3f30-b13f-8b9ed5c3aaf4"},"propertyDescriptors":{"branch-name":{"name":"branch-name","displayName":"Branch Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"repository":{"name":"repository","displayName":"Repository","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lakefs-service":{"name":"lakefs-service","displayName":"LakeFS Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#2c5035"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"f2588aaa-71d2-3c20-b6e9-bf9c0566ba7b","instanceIdentifier":"0f6a6307-0195-1000-5daf-4cf958db43c6","name":"CreateSymlinkFileLakeFS","comments":"","position":{"x":-1136.0,"y":1000.0},"type":"com.nifi.processors.lakefs.internal.CreateSymlinkFileLakeFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-lakefs-processors-nar","version":"1.0.0"},"properties":{"branch-name":null,"location":null,"repository":null,"lakefs-service":null},"propertyDescriptors":{"branch-name":{"name":"branch-name","displayName":"Branch Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"location":{"name":"location","displayName":"Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"repository":{"name":"repository","displayName":"Repository","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lakefs-service":{"name":"lakefs-service","displayName":"LakeFS Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"606f55a7-a519-3e99-aa62-ec40662f4058","instanceIdentifier":"0f747404-0195-1000-df4e-bdddfdced9cf","name":"MergeLakeFS","comments":"","position":{"x":-176.0,"y":944.0},"type":"com.nifi.processors.lakefs.refs.MergeLakeFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-lakefs-processors-nar","version":"1.0.0"},"properties":{"merge-message":"This merge has been done by Apache NiFi!","force-commit":"false","repository":"#{repository}","destination-branch":"main","lakefs-service":"2dc3240b-bfb8-3f30-b13f-8b9ed5c3aaf4","source-ref":"${branchName}","allow-empty":"false"},"propertyDescriptors":{"merge-message":{"name":"merge-message","displayName":"Merge Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"force-commit":{"name":"force-commit","displayName":"Force Commit?","identifiesControllerService":false,"sensitive":false,"dynamic":false},"repository":{"name":"repository","displayName":"Repository","identifiesControllerService":false,"sensitive":false,"dynamic":false},"destination-branch":{"name":"destination-branch","displayName":"Destination Branch Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lakefs-service":{"name":"lakefs-service","displayName":"LakeFS Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"source-ref":{"name":"source-ref","displayName":"Source Reference","identifiesControllerService":false,"sensitive":false,"dynamic":false},"allow-empty":{"name":"allow-empty","displayName":"Allow Empty?","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#41764e"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"93f2d71f-32ac-3a54-8d98-9bc22a8107a7","instanceIdentifier":"0f75e5a2-0195-1000-f5db-67915b03fd1b","name":"DeleteBranchLakeFS","comments":"","position":{"x":-176.0,"y":1152.0},"type":"com.nifi.processors.lakefs.branch.DeleteBranchLakeFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-lakefs-processors-nar","version":"1.0.0"},"properties":{"branch-name":"${branchName}","repository":"#{repository}","lakefs-service":"2dc3240b-bfb8-3f30-b13f-8b9ed5c3aaf4","force-create":"false"},"propertyDescriptors":{"branch-name":{"name":"branch-name","displayName":"Branch Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"repository":{"name":"repository","displayName":"Repository","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lakefs-service":{"name":"lakefs-service","displayName":"LakeFS Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"force-create":{"name":"force-create","displayName":"Overwrite if existing?","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#41764e"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4dfd72d8-07bd-3b82-90f4-76b2531ba22b","instanceIdentifier":"0f699abb-0195-1000-77ef-af1c85518b25","name":"","source":{"id":"6684f6ef-9d8a-3c7a-a329-afa5cb54535c","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"FetchBranchLakeFS","comments":"","instanceIdentifier":"0f5d7aab-0195-1000-a45d-58efea9562b1"},"destination":{"id":"05c6cce3-1636-383c-98e1-a5874a99acea","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"PutObjectLakeFS","comments":"","instanceIdentifier":"8a6d1c5f-e95c-3f83-3e0e-68d023737355"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"49347096-56d7-3ed4-ac55-4c97c2dcac60","instanceIdentifier":"0f5c3a5f-0195-1000-aaa3-fddbc85ed7f5","name":"","source":{"id":"c8842f71-f6fa-3050-903b-4cc290e618e3","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"GenerateFlowFile","comments":"","instanceIdentifier":"04f82844-0fac-36b1-30ae-0c99ea5257dc"},"destination":{"id":"a825f07d-e2a4-3d27-8293-19f28dd2ce25","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"MergeContent","comments":"","instanceIdentifier":"0f62c949-0195-1000-8a6c-34d54237a23f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"0963da64-791a-3db4-b4ee-f96020d8ccbe","instanceIdentifier":"0f5c89df-0195-1000-3e98-03ced97a57a3","name":"","source":{"id":"a82cd6c7-0308-30df-8f51-24716ff2e3f5","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"UpdateAttribute","comments":"","instanceIdentifier":"0f5bb1c6-0195-1000-adb2-af1537e5a31c"},"destination":{"id":"8d49cb31-bfdf-3fb1-8391-8cdeaa276f49","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"CreateBranchLakeFS","comments":"","instanceIdentifier":"0f522e29-0195-1000-8416-47ad784ea1aa"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"b3a28c9c-211e-3740-b446-e5a63bc04873","instanceIdentifier":"0f6e30c9-0195-1000-a430-d87da2626586","name":"","source":{"id":"05c6cce3-1636-383c-98e1-a5874a99acea","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"PutObjectLakeFS","comments":"","instanceIdentifier":"8a6d1c5f-e95c-3f83-3e0e-68d023737355"},"destination":{"id":"09c0e796-11a4-3e8f-b0aa-b0ffcf411056","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"CommitLakeFS","comments":"","instanceIdentifier":"0f6e1906-0195-1000-56b3-8d08fb2b69fb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"514e7ed8-d8bf-3c8c-bde1-735a101a629b","instanceIdentifier":"0f75fc98-0195-1000-cd5b-6ca5397ab366","name":"","source":{"id":"606f55a7-a519-3e99-aa62-ec40662f4058","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"MergeLakeFS","comments":"","instanceIdentifier":"0f747404-0195-1000-df4e-bdddfdced9cf"},"destination":{"id":"93f2d71f-32ac-3a54-8d98-9bc22a8107a7","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"DeleteBranchLakeFS","comments":"","instanceIdentifier":"0f75e5a2-0195-1000-f5db-67915b03fd1b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"7a4a3cdb-f127-38a9-aa71-9bfea4851bcd","instanceIdentifier":"0f748c44-0195-1000-5766-05de2048ec6d","name":"","source":{"id":"09c0e796-11a4-3e8f-b0aa-b0ffcf411056","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"CommitLakeFS","comments":"","instanceIdentifier":"0f6e1906-0195-1000-56b3-8d08fb2b69fb"},"destination":{"id":"606f55a7-a519-3e99-aa62-ec40662f4058","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"MergeLakeFS","comments":"","instanceIdentifier":"0f747404-0195-1000-df4e-bdddfdced9cf"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"e618262d-4ceb-3eae-a1e1-75c9feaeb1cb","instanceIdentifier":"0f5db94d-0195-1000-aa34-30e8592dc366","name":"","source":{"id":"8d49cb31-bfdf-3fb1-8391-8cdeaa276f49","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"CreateBranchLakeFS","comments":"","instanceIdentifier":"0f522e29-0195-1000-8416-47ad784ea1aa"},"destination":{"id":"6684f6ef-9d8a-3c7a-a329-afa5cb54535c","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"FetchBranchLakeFS","comments":"","instanceIdentifier":"0f5d7aab-0195-1000-a45d-58efea9562b1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"a013bb9e-9e73-3af7-9cf2-1932b0aea3cd","instanceIdentifier":"0f68754c-0195-1000-4cfe-c955813df97e","name":"","source":{"id":"a825f07d-e2a4-3d27-8293-19f28dd2ce25","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"MergeContent","comments":"","instanceIdentifier":"0f62c949-0195-1000-8a6c-34d54237a23f"},"destination":{"id":"a82cd6c7-0308-30df-8f51-24716ff2e3f5","type":"PROCESSOR","groupId":"a34843eb-7439-3d6e-9312-09044b18bbfb","name":"UpdateAttribute","comments":"","instanceIdentifier":"0f5bb1c6-0195-1000-adb2-af1537e5a31c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"54e0acdd-f114-3a16-8861-1df16bd990c8","instanceIdentifier":"ddce538d-3bc2-37bf-872f-c07c0fdd4b7b","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.2.0"},"properties":{"profile-name":null,"assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"},{"identifier":"2dc3240b-bfb8-3f30-b13f-8b9ed5c3aaf4","instanceIdentifier":"65b9eb2c-fa87-37f9-89dd-f7c241700c06","name":"StandardLakeFSApiClientService","comments":"","type":"org.apache.nifi.lakefs.service.standard.StandardLakeFSApiClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lakefs-service-nar","version":"1.0.0"},"properties":{"password":"#{Password}","lakefs-url":"http://lakefs:8000"},"propertyDescriptors":{"password":{"name":"password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"lakefs-url":{"name":"lakefs-url","displayName":"LakeFS URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lakefs.service.api.LakeFSApiClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lakefs-service-api-nar","version":"1.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a34843eb-7439-3d6e-9312-09044b18bbfb"}],"parameterContextName":"lakefs-example","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"lakefs-example":{"name":"lakefs-example","parameters":[{"name":"merge_message","description":"","sensitive":false,"provided":false,"value":"merging to the default branch"},{"name":"commit_messsage","description":"","sensitive":false,"provided":false,"value":"Committing to LakeFS using Apache NiFi!"},{"name":"content_prefix","description":"","sensitive":false,"provided":false,"value":"It is not enough to succeed.  Others must fail."},{"name":"Password","description":"","sensitive":true,"provided":false},{"name":"repository","description":"","sensitive":false,"provided":false,"value":"demo"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}